
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s ease;
}

.button {
    padding: 15px 30px;
    font-size: 20px;
    color: #fff;
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,253,239,1) 50%, rgba(252,176,69,1) 100%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(111,83,166,0.8362068965517242) 100%);
}
